.button{
    color: #FF96BE;
    transition: color 0.3s ease-in-out;
    line-height: 3vw;
    text-align: center;

}

@media (hover: hover){
    .button:hover {
        color: #FF004E;
        cursor: pointer;
    }
  }
@media (hover: none) {
    .button:active {
        color: #FF004E;
    }
}
