.footer{
    height:500px;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #FF96BE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 85%;
}

.links {
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.socials {
    width: 20px;
    height: 20px;
    filter: opacity(60%);
    margin-right: 20px;
    margin-left: 20px;
    transition: transform 0.3s ease-in-out;
}
.socials:hover{
    transform: scale(1.5);
    filter: opacity(100%);
}
.footerText{
    filter: opacity(60%);
    color: white;
    font-size: 7vw;
}
.returnButton{
    width: 4vw;
    height:  4vw;
    min-width: 45px;
    min-height: 45px;
    position:fixed;
    bottom: 2vw;
    right: 2vw;
    z-index: 1000;
    transform: rotate(270deg);
    opacity: 50%;
    transition: opacity 0.2s ease-in-out;
}
.returnButton:hover{
    opacity: 100%;
    cursor:pointer;
}

@media (hover: none) {
    .button:hover {
        all: unset;
    }
}
