.nav {
    /* background-color: #FF96BE; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    padding: 1rem;
    height: 8vw;
    max-height: 100px;
    min-height: 60px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: none;
    background-image: url('./assets/tape.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    padding: 0px;
    filter: var(--yarl__button_filter, drop-shadow(2px 2px 2px rgb(205, 205, 205)));
}

.nav a {
    overflow: hidden;
    /* width: 20vw;
    height: 20vw; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeButton {
    width: 15vw;
    height: 10vh;
    max-width: 105px;
    max-height: 80px;
    background-image: url('/src/assets/logo1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.3s ease-in-out;
}

.homeButton:hover {
    background-image: url('/src/assets/logoHover.svg');
}

.navButton {
    background: none;
    border: none;
}